body {
    background-color: #FFFFFF;
    font-family: sans-serif;

}

.boardDisp {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 0.99;
    letter-spacing: -1px;
}
